:root {
    --text-shadow-color: rgba(255, 255, 255, 0.5);
    --link-background: #DAD2CA;
    --text-color: #444;
    --circle-background: #8FD4C1;
    --border-color: #ffffff;
}

body {
    padding: 20px;
}
